<app-container>
  <div class="agendamento-text">
    <h1> Agende seu bartender profissional para seu evento </h1>
    <p> Organize seu evento com um toque especial! Contrate um bartender experiente para preparar drinks incríveis e tornar sua ocasião ainda mais memorável. Basta escolher a data no calendário abaixo e garantir seu agendamento. Ofereço um serviço personalizado, que atende desde pequenas reuniões até grandes celebrações. Vamos juntos brindar momentos únicos! </p>
  </div>
  <app-schedule-form> </app-schedule-form>

</app-container>
