<app-container>
  <main class="flex-container">
      <div class="little-text">
        <article class="article">
          <h1 class="text-center"> Profissão bartender </h1>
          <p>O bartender é o profissional responsável por preparar e servir bebidas alcoólicas
              e não alcoólicas, geralmente em bares, restaurantes, baladas e eventos. Além de dominar técnicas de preparo de drinks clássicos e modernos,
              ele também deve ter conhecimento sobre diferentes tipos de bebidas, como destilados, fermentados e licores, e saber combiná-las para criar coquetéis criativos e saborosos.
              O atendimento ao cliente é outra parte essencial do trabalho, já que o bartender precisa ser atencioso, ágil e capaz de criar uma boa experiência para os frequentadores.
              A profissão requer habilidades técnicas, criatividade e uma boa dose de comunicação.</p>
        </article>
      </div>
      <div class="drink-image">
        <img src="../../../assets/images/wine-sharp2.png" alt="">
      </div>
  </main>
  <div class="middle-text">
    <h2 class="text-center">Os drinks mais consumidos no planeta</h2>
  </div>
  <section class="middle">
    <div class="icon2"><img src="../../../assets/images/timtim-cheers1.png" alt=""></div>
    <div class="icon3"><img src="../../../assets/images/champagne1.png" alt=""></div>
  </section>
</app-container>

<section class="lista-drinks">
  <dl>
    <dt>Old Fashioned</dt>
    <dd>- whisky, bitter, açúcar e uma fatia de laranja. </dd>
    <dt>Negroni</dt>
    <dd>- gim, vermute doce e campari. </dd>
    <dt>Daiquiri</dt>
    <dd>- rum, suco de limão e açúcar. </dd>
    <dt>Manhattan</dt>
    <dd>- whisky, vermute doce e bitters. </dd>
    <dt>Dry Martini</dt>
    <dd>- gin, vermute seco decorado com azeitona [007] </dd>
    <dt>Margarita</dt>
    <dd>- tequila, licor de laranja, suco de limão e sal na borda do copo. </dd>
  </dl>
</section>







