<header>
  <nav class="cabecalho__container">
    <div class="menu__itens">
      <a routerLink="/principal" (click)="hideMenu()">Home</a>
      <a routerLink="/receitas" (click)="hideMenu()">Receitas</a>
      <a routerLink="/agendamento" (click)="hideMenu()">Agendamento</a>
      <a routerLink="/videos" (click)="hideMenu()">Videos</a>
      <button class="close-menu" (click)="hideMenu()">X</button>
    </div>
    <div class="login__icon">
      <a><img src="../../../assets/images/drink-2-icon.png" alt="icone de login" ></a>
    </div>
    <button class="hamburger" (click)="toggleMenu()">☰</button>
  </nav>
</header>
