@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Qwitcher+Grypen:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Space Grotesk";
  font-weight: 700;
  color: rgb(150, 21, 21);
  margin: 0px 0px 16px 0px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8em;
  text-align: left;
}

.text-center {
  text-align: center;
}

.form-field {
  margin: 0px 0px 16px 0px;
}

label {
  display: block;
  margin: 0px 0px 4px 0px;
  font-family: 'Poppins';
  font-size: 1.4em;
  font-weight: bolder;
}

input, textarea {
  padding: 8px;
  width: 100%;
  display: block;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  font-family: 'Poppins';
  font-size: 1em;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: black;
  color: whitesmoke;
  font-family: 'Poppins';
  font-size: 1.4em;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(24, 23, 23, 0.925);
  text-decoration: underline;
  color: rgb(238, 211, 211);

}

control-error {
  display: block;
  margin: 4px 0px 0px 0px;
  color: rgb(150, 21, 21);
  font-family: "Poppins";
}

/* x-large screens */

@media (max-width: 1399.98px) {

}
/* large screens */

@media (max-width: 1199.98px) {

}

/* medium screens  */

@media (max-width: 991.98px) {

}

/* small screens */

@media (max-width: 767.98px) {
  h1, h2, h3 {
    font-weight: 500;
  }

  h1 {
    font-size: 2.0em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
      font-size: 1.6em;
  }

  label {
    font-size: 1.2em;
  }

  input, textarea {
    border-width: 2px;
  }

}

/* extra small screens */

@media (max-width: 575.98px) {
  p {
    font-size: 1.4em;
    color: rgba(20, 20, 20, 0.918);
  }
}





